# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Package lock file
package-lock.json
yarn.lock

# IDE or Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db
